{% load static %}
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">회사연혁</h2>
            <h3 class="section-subheading text-muted">감동의 연혁 및 제작사항</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.jpg' %}" alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1994. 6</h4>
                        <h4 class="subheading">창대전자음향 설립</h4>
                    </div>
                    <div class="timeline-body">
                        <ul><p class="text-start">1996 ~ 2000</p>
                            <li><p class="text-muted text-start">제15대 국회의원 선거 - 강창희 의장 외 22대</p></li>
                            <li><p class="text-muted text-start">제2회 지방선거 - 홍선기 시장 외 65대</p></li>
                            <li><p class="text-muted text-start">제16대 국회의원 선거 - 이재선 의원 외 43대</p></li>
                        </ul>
                        <ul><p class="text-start mt-5">2002 ~ 2004</p>
                            <li><p class="text-muted text-start">제16대 대통령 선거 - 이회창 후보 25대</p></li>
                            <li><p class="text-muted text-start">제3회 지방선거 - 심대평 도지사 외 86대</p></li>
                            <li><p class="text-muted text-start">제17대 국회의원 선거 - 구논회 의원 외 50대</p></li>
                        </ul>
                        <ul><p class="text-start mt-5">2006 ~ 2007</p>
                            <li><p class="text-muted text-start">제4회 지방선거 - 이완구 도지사 외 121대</p></li>
                            <li><p class="text-muted text-start">제17대 대통령 선거 - 이명박 대통령 45대</p></li>
                        </ul>

                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2007. 6</h4>
                        <h4 class="subheading">창대전자음향<br>서울 사무소 설립(용산)</h4>
                    </div>
                    <div class="timeline-body">
                        <ul><p class="text-start mt-5">2008</p>
                            <li><p class="text-muted text-start">제18대 국회의원 선거 - 45대</p></li>
                            <li><p class="text-muted text-start">2008 상반기 재보궐 선거 - 해남 군수 외 8명 유세차량 지원</p></li>
                            <li><p class="text-muted text-start">2008 교육감 선거 - 전북 교육감 2대, 서울시 교육감 18대</p></li>
                        </ul>
                        <ul><p class="text-start mt-5">2009</p>
                            <li><p class="text-muted text-start">4.9 경기도 교육감 선거 - 총 72대 지원</p></li>
                            <li><p class="text-muted text-start">4.29 재보궐 선거 - 총 31대 지원</p></li>
                        </ul>
                        <ul><p class="text-start mt-5">2010 ~ 2013</p>
                            <li><p class="text-muted text-start">분당 보궐 선거 - 손학규 후보 2.5톤 제작</p></li>
                            <li><p class="text-muted text-start">6.2 지방 선거 - 서울시장, 경기도지사, 교육감후보 87대</p></li>
                            <li><p class="text-muted text-start">서울중구청장외 기초단체장, 광역의원, 기초의원 100대</p></li>
                            <li><p class="text-muted text-start">4.11 국회의원 총 선거 - 51대</p></li>
                            <li><p class="text-muted text-start">제18대 대통령 선거 - 가평 3대, 부산 1대</p></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2012. 2</h4>
                        <h4 class="subheading">감동 설립<br>(창대전자음향 합병)</h4>
                        <div class="timeline-body">
                            <ul><p class="text-start mt-5">2014 ~ 2017</p>
                                <li><p class="text-muted text-start">제7회 전국지방선거 - 85대</p></li>
                                <li><p class="text-muted text-start">제20대 총선거 - 60대</p></li>
                                <li><p class="text-muted text-start">제19대 대통령 선거 - 80대(문재인, 홍준표, 유승민 후보)</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/4.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021. 10</h4>
                        <h4 class="subheading">감동 여의도 사무소 이전</h4>
                    </div>
                    <div class="timeline-body">

                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>