{% load static %}
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">차량 문의</h2>
            <h3 class="section-subheading text-muted">차량제작 문의 및 요청사항</h3>
        </div>
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="name" name="name" type="text" placeholder="이름 or 단체명 *" data-sb-validations="required" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" name="email" type="email" placeholder="이메일 주소 *" data-sb-validations="required,email" />
                    </div>
                    <div class="form-group mb-md-0">
                        <input class="form-control" id="phone" name="phone" type="tel" placeholder="전화번호 *" data-sb-validations="required" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" id="message" name="message" placeholder="문의사항 *" data-sb-validations="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="button">Send Message</button></div>
        </form>
    </div>
</section>