{% extends "layouts/base.html" %}
{% load static %}

{% block extra_head %}
        <meta name="naver-site-verification" content="936be3c1e43bf065290e0ce38dcf11aa8a0c9286" />
{% endblock %}

{% block main %}
    {% include 'includes/header.html' %}
    {% include 'includes/sections/about.html' %}
    {% include 'includes/sections/portfolio.html' %}
    {% include 'includes/sections/contact.html' %}
    {% include 'includes/modal.html' %}

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="{% static 'js/gamdong/script_index.js' %}"></script>
{% endblock javascripts %}