{% extends "layouts/base.html" %}
{% load static %}

{% block extra_head %}
        <meta name="naver-site-verification" content="3e5ee1a6bb8866d90089b9125f1725f91dc67341" />
{% endblock %}

{% block main %}
    {% include 'includes/header.html' %}
    {% include 'includes/sections/about.html' %}
    {% include 'includes/sections/portfolio.html' %}
    {% include 'includes/sections/contact.html' %}
    {% include 'includes/modal.html' %}

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}