 <!-- Footer-->
 <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div>
                Copyright &copy; 감동
                <div class="m-3">	
                    <p style="text-align: center;">사업자등록번호 : xxx-xx-xxxxx&nbsp; &nbsp; 서울시 가나다구 마바사로 30 감동빌딩 1801호<br>
                        TEL : xxx-xxx-xxxx <span style="color: #999999;">&nbsp;</span> Mobile : 010-xxxx-xxxx&nbsp; &nbsp;Email : dh1630@naver.com</p>
                        <p style="text-align: center;">공장: 경기도 00시 00리 xxx-x. TEL: xx xxx xxx</p>
                </div>
            </div>
        </div>
    </div>
</footer>