 <!-- Footer-->
 <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div>
                Copyright &copy; 감동
                <div class="m-3">	
                    <p style="text-align: center;">사업자등록번호 : 870-87-01184&nbsp; &nbsp; 부산시 해운대구 센텀서로 30 KNN빌딩 1801호<br>
                        TEL : 051-664-7100 <span style="color: #999999;">&nbsp;</span> Mobile : 010-8493-7899&nbsp; &nbsp;Email : higgs49@naver.com</p>
                        <p style="text-align: center;">공장: 경기도 평택시 서탄면수월암리 378-3. TEL: 031 668 0940</p>
                </div>
            </div>
        </div>
    </div>
</footer>