{% load static %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"><b>선거홍보 유세차량 제작 전문업체</b></div>
        <div class="masthead-heading text-uppercase">
            <img class="img-fluid" src="{% static 'assets/img/logos/gamdong.png' %}" alt="..." style="width: 35%; height: auto;"/>
        </div>
        <div class="masthead-subheading">
            <div class="row">
                <div class="col-6 text-end">대표직통번호 :</div>
                <div class="col-6 text-start">010-8619-1630 (오상훈)</div>
            </div>
            <div class="row">
                <div class="col-6 text-end">유선번호 : </div>
                <div class="col-6 text-start">02-714-5280</div>
            </div>
        </div>
        <button class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" href="#portfolioModal1"> 회사소개</button>
    </div>
</header>