{% load static %}
<!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">회사현황 및 개요</h2>
                                    <p class="item-intro text-muted">
                                        선거홍보 유세차량 제작 전문업체
                                    </p>
                                    <img class="img-fluid" src="{% static 'img/intro1.jpg' %}" alt="..." style="width: 40%; height: auto;"/>
                                    <br>
                                    <b style="font-size: 25px; color: #6589d6;">감동(感動)은 음향장비 납품, 차량정비소 운영, 선거 유세차량 제작 및 운영, 기타 홍보물 제작으로 서비스를 통해 고객에 대한 감동을 주는 회사이며, 저희가 납품한 기업과 현재 활동 중인 여러 정치인 들의 경우 유세차량 제작 후 좋은 이미지로 지속적 관계를 유지하고 있습니다.</b>
                                    <br>
                                    <br>
                                    <p style="font-size: 25px;">그리고 전국적으로개별용달을200대이상확보하고있으며, <b>기사들과의 인적 네트워크를 지속적으로 관리, 유지</b>하여 최상의 홍보차량 운행은 기본이며 기사들과 주변과의 친밀한 관계 형성이 <b>후보의 득표력에 큰 플러스알파</b>가 되리라 확신합니다.</p>
                                    <br>
                                    <!-- <p style="font-size: 25px;">저희 업체는 <b>삼성화재와 대리점 계약체결</b>로 <b>유세차량의 사고시 최상의 보상서비스를 제공</b>하도록 후속조치에도 만전을 기하겠습니다.</p> -->

                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>