 <!-- Footer-->
 <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div>
                Copyright &copy; 감동
                <div class="m-3">	
                    <p style="text-align: center;">사업자등록번호 : 566-04-02054&nbsp; &nbsp; 서울특별시 영등포구 국회대로 70길 15-1, R540호 (여의도동, 브이아이피빌딩)<br>
                        TEL : 02-714-5280 <span style="color: #999999;">&nbsp;</span> Mobile : 010-8619-1630&nbsp; &nbsp;Email : dh1630@naver.com</p>
                        <p style="text-align: center;">공장: 경기도 여주시 능서면 왕대리 747-42</p>
                </div>
            </div>
        </div>
    </div>
</footer>